<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

        <add key="main"
            value="https://pkgs.dev.azure.com/juandanielarce398/lab/_packaging/main/nuget/v3/index.json" />

    </packageSources>
    <packageSourceMapping>
        <packageSource key="main">
            <package pattern="Solidaria.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>